<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://diss.enu.kz/entityconstructor"
            class="entityconstructor.EntityconstructorPackage"
            genModel="model/entityconstructor.genmodel"/>
   </extension>

</plugin>
